* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
body{
    background-image: url('./css-pattern-by-magicpattern.png');
    background-size: cover ;
    display: flex;
    justify-content: center;
}
.screenWrap {
    background: #F8F8F8;
    max-width: 960px;
    min-width: 300px;
    max-height: 680px;
    margin: 5% 10%;
}