* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
html{
    background-image: url('./css-pattern-by-magicpattern.png');
    background-size: cover ;
}
.screenWrap {
    background: #F8F8F8;
    max-width: 960px;
    max-height: 680px;
}